.dropdown {
    position: relative;
}

.content {
    position: absolute;
    width: 260px;
    background-color: rgb(151, 180, 241);
    border-radius: 4px;
    border: 1px solid rgb(109, 152, 245);
    transition: top 0.4s;
    z-index: 5;
}

.menuItem {
    padding: 10px 0;
    border-radius: 4px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.menuItem:hover {
    background-color: rgb(109, 152, 245);
}
